body {
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: rgb(54, 54, 54);
}
.container {
    max-width: 1400px;
    margin: 0 auto;
}

h2.section-title {
    font-size: 15px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.333;;
}
.header {
    background-color: #e8ebf1;
    height: 120px;
}
.header-content {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    
}
.logo {
    align-self: flex-start;
}
ul.main-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 2px;
    width: 65%;
}
.main-nav-item {
    padding: 12px;
    padding-top: 10px;
    border-top: 3px solid transparent;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}
ul.main-nav .main-nav-item a {
    color: #000;
}

  
.main-nav-item:hover {
    border-top-color: #2aacc8;
    background-color: #fff;
    cursor: pointer;
}

.main-nav-item-list {
    position: relative;
    cursor: pointer;
}
.main-nav-item-list i {
    margin-left: 10px;
}
.main-nav-second {
    display: none;
}

.main-nav-item-list:hover .main-nav-second {
    position: absolute;
    display: block;
    top: 27px;
    left: 0;
    width: 200px;
    background-color: #fff;
    border-bottom: 5px solid #2aacc8;
    z-index: 4;
}
.main-nav-second li {
    padding: 15px 20px;
    border-bottom: 1px solid grey;
    font-size: 13px;
    font-weight: 400;
    text-transform: none;
}
.main-nav-second li:hover a {
    color: #2aacc8
}
.main-nav-second li:last-child {
    border-bottom: none;
}
.main {
    background-color: #81e4ed;
}
.main-content {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
  

  .swiper-container {
    width: 100%;
    height: 440px;
    margin-bottom: 40px;
}
.swiper-slide {
    background-color: #d15332;
    background-image: url('../img/paper-coffee-cup.png'), url('../img/message-icon.png');
    background-repeat: no-repeat;
    background-position: 50%, 100% 0%;
}

.swiper-pagination {
    width: 150px !important;
    display: flex;
    justify-content: space-between;
}
.swiper-pagination-bullet {
    background: rgba(15, 15, 15, 1) !important;
    padding: 8px;
}
.swiper-pagination-bullet-active {
    background: #fff !important; 
}
h1 {
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    padding-left: 60px;
    padding-top: 60px;
}
.post {
    background-color: #e8ebf1;
}
.post-content {
    padding-top: 60px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
.post-item {
    max-width: 225px;
}
.post-item-title {
    display: flex;
    align-items: center;
    
    margin-bottom: 20px;
}
.post-title-img {
    width: 40px;
    height: 40px;
    background-color: #2aacc8;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.post-item p {
    margin-bottom: 35px;
}
.post-item a {
    display: flex;
    align-items: center;
    color: #8ac7d9;
}
.post-item a img {
    margin-right: 10px;
}


.work-header {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(223, 225, 229);
}
  
.work-part-1 {
    display: flex;
    align-items: center;
}
.work-part-1 img {
    margin-right: 15px;
}
.work-part-2 {
    display: flex;
    align-items: center;
}
.work-part-2 img {
    cursor: pointer;
}
.work-part-2 img:first-child {
    margin-right: 10px;
}

.work-content {
    padding-top: 25px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid rgb(223, 225, 229);
}



.test-client-content {
    padding-top: 20px;
    padding-bottom: 45px;
    display: flex;
    justify-content: space-between;
}
.testimonial, .client {
    width: 40%;
}

.client h2 {
    align-self: flex-start;
}
.testimonial h2, .client h2 {
    display: flex;
    margin-bottom: 25px;
}
.testimonial h2 img, .client h2 img {
    margin-right: 10px;
}
.testimonial p {
    font-size: 14px;
    line-height: 1.714;
    margin-bottom: 40px;
}
.testimonial span {
    font-weight: bold;
    font-style: italic;
}
.client-content {
    display: flex;
    flex-wrap: wrap;
}
.client-content img {
    width: 33.333%;
    transition: 1s;
}
.client-content img:hover {
    transform: scale(1.5);
    transition: 1s;
}
.download {
    margin-bottom: 40px;
}
.download-content {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(129, 228, 237);
    background-color: rgb(232, 252, 254);
    display: flex;
    justify-content: space-between;
    padding: 40px 25px;
}
.download-content p {
    width: 70%;
    font-size: 16px;
    line-height: 1.625;
}
.download-btn {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(42, 172, 200);
    border-radius: 8px;
    background-image: -moz-linear-gradient( 90deg, rgb(42,172,200) 0%, rgb(96,206,222) 15%, rgb(114,218,230) 50%, rgb(129,228,237) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(42,172,200) 0%, rgb(96,206,222) 15%, rgb(114,218,230) 50%, rgb(129,228,237) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(42,172,200) 0%, rgb(96,206,222) 15%, rgb(114,218,230) 50%, rgb(129,228,237) 100%);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2),inset 0px 2px 1px 0px rgba(255, 255, 255, 0.1);
    cursor: pointer;
    height: 58px;
    z-index: 24;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: rgb(13, 7, 7);
    font-weight: 900;
    text-transform: uppercase;
    padding: 0 20px;
}
.download-btn img {
    margin-right: 20px;
}
  